.titleandimgSingle {
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#btn-retour {
    position: relative;
    z-index: 100;
}
.singleEventPseudo{
    position: relative;
    z-index: 100;
}

